name: Run tests new

on:
  push:
    branches:
      - main
  pull_request:

# Add permissions here for the entire workflow
permissions:
  checks: write
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      # Step 3: Run Unit Tests (Local JVM)
      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --stacktrace --info
          echo "=== Unit Tests Completed ==="

      # Step 4: Build APKs
      - name: Build app
        run: ./gradlew assembleDebug assembleAndroidTest --stacktrace

      # Step 5: Verify APKs
      - name: Verify APKs
        run: |
          ls -l app/build/outputs/apk/debug/
          ls -l app/build/outputs/apk/androidTest/

      # Step 6: Run tests
      - name: Run tests
        uses: emulator-wtf/run-tests@v0
        with:
          api-token: ${{ secrets.EW_API_TOKEN }}
          app: app/build/outputs/apk/debug/app-debug.apk
          test: app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk
          devices: |
            model=Pixel7,version=34
          outputs-dir: build/test-results

      # Step 7: Publish test report test
      - name: Publish test report
        uses: mikepenz/action-junit-report@v2
        if: always() # always run even if the tests fail
        with:
          report_paths: 'build/test-results/**/*.xml'
